/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #252525;
    --primary-color-light: #a7a6ac;
    --toggle-color: #DDD;
    --text-color: rgb(216, 216, 216);

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}
body{
    min-height: 100vh;
    position: relative;
    background-color: var(--body-color);
    transition: var(--tran-05);
    overflow: hidden;
    background-image: url(../resources/images/doctor-dashboard-sideimage.png);
}
img{
    max-width: 100%;
    max-height: 100%;
}
::selection{
    background-color: var(--primary-color);
    color: #ccc;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #ccc;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}
.menu-bar{
    background-color: #252525;
}
.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}

html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  @import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #252525;
    font-size: 50px;
}


.area{
    background-color: #a8e8e9;
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
       background: #252525;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
  .card{
    position: absolute;
    display: block;
    top: 80px;
    left: 300px;
    width: 300px;
    height: 200px;
    background-color: #252525;
    box-shadow: 0 0 10px 2px #252525;
    border-radius: 13px;
}
.card img{
    width: 100%;
    width: 300px;
    height: 200px;
    opacity: 25%;
    border-radius: 13px;
}
.info{
    position: inherit;
    bottom: 5px;
    padding-left: 20px;
    color: #ccc;
    font-size: 25px;
}
.imginimg{
    position: relative;
    bottom: 190px;
    left: 215px;
}
.cardi{
    position: absolute;
    display: block;
    top: 520px;
    left: 300px;
    width: 300px;
    height: 200px;
    background-color: #252525;
    box-shadow: 0 0 10px 2px #252525;
    border-radius: 13px;
}
.cardi img{
    width: 100%;
    width: 300px;
    height: 200px;
    opacity: 25%;
    border-radius: 13px;
}
.infoi{
    position: inherit;
    bottom: 5px;
    padding-left: 20px;
    color: #ccc;
    font-size: 25px;
}
.imginimgi{
    position: relative;
    bottom: 190px;
    left: 215px;
}
.UPLOAD{
    position: absolute;
    display: block;
    top: 300px;
    left: 300px;
    width: 300px;
    height: 200px;
    background-color: #252525;
    box-shadow: 0 0 10px 2px #252525;
    border-radius: 13px;
}
.UPLOAD img{
    width: 100%;
    width: 300px;
    height: 200px;
    opacity: 25%;
    border-radius: 13px;
}
.infou{
    position: inherit;
    bottom: 5px;
    padding-left: 20px;
    color: #ccc;
    font-size: 25px;
    text-indent: -40%;
}
.imginimgu{
    position: relative;
    bottom: 190px;
    left: 90px;
}


.UPLOAD input[type=file]{
    display: none;
}

.ucard{
    position: absolute;
    display: block;
    top: 160px;
    left: 650px;
    width: 350px;
    height: 450px;
    background-color: #252525;
    box-shadow: 0 0 10px 2px #252525;
    border-radius: 13px;
}
.ucard img{
    width: 100%;
    height: 100%;
    opacity: 5%;
    border-radius: 13px;
}
.uinfo{
    position: inherit;
    bottom: 30px;
    padding-left: 20px;
    color: #ccc;
    font-size: 20px;
}

.vanish{
    display: none;

}
 #form-background{
    width: 50rem;
    height: 39.95rem;
    top: 5rem;
    /* display: none; */
 }
 #uploadHeading{
    font-size: 3.2rem;
    position: relative;
    top:  1rem;
    left: 17.5rem;
    
 }
 #opt{
    /* background-color: red; */
    top: -1rem;
    left: 10.3rem;
    text-align: center;
    position: relative;
 }
 div.collection{
    /* background-color: blue; */
    margin-top: 2rem;
    margin-bottom: 0rem;
 }
 div.collection input{
    padding: 0.4rem 5rem;
    margin-top: .51rem;
 }
 #lname{
    padding: 0.5rem 3rem;
    margin-top: 5rem;
    font-family:  monospace;
    font-size: 1rem;
    border: .01rem solid gray;
    border-radius: 10px;
  }
.sideimg{
    width: 100vw;
    height: 200vh;
    position: absolute;
    top: -120px;
    left: 150px;
    z-index: -5;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
