<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unicare</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/form-style.css">
</head>

<body>
    <header>
        <a href="../../index.html"><h1>Unicare</h1></a>
    </header>
    <main>

        <div class="main-form">
            <div class="form-header">

                <div class="form-heading">
                    <p>Get Started</p>
                </div>
                <div class="combine-logo-type">
                    <img src="../images/patient-logo.png" alt="Internet not available">
                    <p>PATIENT</p>
                </div>

            </div>


            <form action="" class="main-form">

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="firstname">Firstname</label>
                            <input type="text" name="firstname" id="firstname" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="lastname">Lastname</label>
                            <input type="text" name="lastname" id="lastname" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="date-of-birth">Date of Birth</label>
                    <input type="date" name="date-of-birth" id="date-of-birth" class="form-control">
                </div>

                <div class="form-group">
                    <label for="blood-group">Blood Group</label>
                    <select name="blood-group" id="blood-group" class="form-control">
                        <option value="A-positive">A +ve</option>
                        <option value="B-positive">B +ve</option>
                        <option value="AB-positive">AB +ve</option>
                        <option value="O-positive">O +ve</option>
                        <option value="A-negative">A -ve</option>
                        <option value="B-negative">B -ve</option>
                        <option value="AB-negative">AB -ve</option>
                        <option value="O-negative">O -ve</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="contact-number">Contact Number</label>
                    <input type="number" name="contact-number" id="contact-number" class="form-control">
                </div>

                <div class="form-group">
                    <label for="e-mail">E-Mail</label>
                    <input type="email" name="e-mail" id="e-mail" class="form-control">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>

                <div class="form-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" name="confirm-password" id="confirm-password" class="form-control">
                </div>
                <div class="form-group" class="submit-button">
                    <input type="submit" value="Sign Up" class="form-control">
                </div>
                <!-- NOTE : Only redirecting to home page and javascript left -->
            </form>


        </div>

    
        <div class="form-page-image">
            <img src="../images/get-started-form-logo-patient.jpg" alt="Internet not available">
        </div>
    </main>
</body>

</html>