<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unicare</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/form-style.css">
</head>

<body>
    <header>
        <a href="../../index.html"><h1>Unicare</h1></a>
    </header>
    <main>

        <div class="main-form">
            <div class="form-header">

                <div class="form-heading">
                    <p>Sign In</p>
                </div>
                <div class="combine-logo-type">
                    <img src="../images/patient-logo.png" alt="Internet not available">
                    <p>PATIENT</p>
                </div>

            </div>
            <form action="" class="main-form">

                <div class="form-group">
                    <label for="e-mail">E-Mail</label>
                    <input type="email" name="e-mail" id="e-mail" class="form-control">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>

                <div class="form-group" class="sign-in-button">
                    <input type="submit" value="Sign In" class="form-control">
                </div>
                <div class="form-group" class="forget-password">
                   <a href="#"><input type="submit" value="Forget Password" class="form-control"></a> 
                </div>
                <!-- NOTE : Only redirecting to dashboard and javascript left -->
            </form>

        </div>

    
        <div class="form-page-image">
            <img src="../images/get-started-form-logo-patient.jpg" alt="Internet not available">
        </div>
    </main>
</body>

</html>